:root {
  --primary: #ED1C24;
}

header #navbar-breadcrumbs a {
  color: white !important;
}
.navbar navbar-expand{
  background-color: #ED1C24 !important;
}
.navbar{
  background-color: #ED1C24 !important;
}
a:hover {
  color: inherit;
}
.page-card-head img{
  max-height: 6rem;  
}
.btn-login{
  background-color: #ED1C24;
}
#navbar-breadcrumbs a {
  pointer-events: none;
  cursor: default;
}
/* 
.control-input-wrapper .control-input input {
  pointer-events: none; 
  user-select: none;    
 }
  */
.form-grid-container a,
.section-body .badge-link .section-body .form-column a,
a.grey,
.sidebar-section a,
.control-value a,
.data-row a,
.datatable *,
.datatable *:after,
.datatable *:before {
  color: black;
}
.form-dashboard-section a {
  color: black;
}
.dropdown-help {
  display: none !important;
}

form.form-inline.fill-width.justify-content-end {
  justify-content: center !important;
}

.standard-sidebar-label {
  display: none;
}

body.full-width .container {
  width: 100%;
}

.main-section header.navbar.navbar-expand.sticky-top {
  background-color: #ED1C24 !important;
  color: white !important;
}

.main-section .navbar-brand span {
  color: white;
  font-family: var(--font-stack);
  /* font-family: aria; */
  font-family: "Inter", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  /* font-weight: 700; */
}

.navbar-home img {
  width: 70px !important;
  height: 70px;
}
.main-section .navbar svg.icon.icon-md {
  fill: white !important;
}

.main-section .layout-main-section,
.main-section .widget {
  background: #f9fafa;
}
[data-page-route="Workspaces"] .layout-main-section {
  box-shadow: none;
}

.indicator-pill.yellow::before,
.indicator-pill.yellow::after,
.indicator-pill-right.yellow::before,
.indicator-pill-right.yellow::after,
.indicator-pill-round.yellow::before,
.indicator-pill-round.yellow::after {
  background: white;
}

.indicator-pill.yellow,
.indicator-pill-right.yellow,
.indicator-pill-round.yellow {
  background: #5d86be;
  /* color: white; */
}
.widget.links-widget-box .link-item:hover {
  background-color: initial;
}
.widget.links-widget-box .link-item:hover .indicator-pill {
  background-color: #5d86be;
}

.widget.links-widget-box .link-item:hover .indicator-pill.gray {
  background-color: var(--bg-gray);
}

[data-page-route="Workspaces"] .layout-main .layout-side-section {
  padding-right: 5px;
  padding-left: 0;
  max-width: 15%;
}

#navbar-breadcrumbs a:before {
  filter: invert(100%);
}
.liked use.like-icon {
  stroke: none;
  fill: #5d86be;
}

@media (max-width: 1440px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .main-section .navbar-brand {
    display: flex;
    flex-direction: column;
  }
}
